body {
	background-color: #22411F;
}

h1 {
	background-color: white;
	font-family: "Verdana", "Sans-serif";
}

#box1 {
	height: 200px;
	width: 200px;
	float: left;
	margin-left: 500px;
	border-bottom: 5px solid white;
	border-right : 5px solid white;
	background-color: transparent;

}

#box2 {
	height: 200px;
	width: 200px;
	float: left;
	border-bottom: 5px solid white;
	border-right : 5px solid white;
	background-color: transparent;
}

#box3 {
	height: 200px;
	width: 200px;
	float: left;
	border-bottom: 5px solid white;
	background-color: transparent;

}

#box4 {
	height: 200px;
	width: 200px;
	clear: both;
	margin-left: 500px;
	border-right : 5px solid white;
	border-bottom : 5px solid white;
	background-color: transparent;
}

/*#box5 {
	height: 200px;
	width: 200px;	
	border-bottom : 5px solid white;
	border-right : 5px solid white;
	background-color: transparent;
}*/

/*#box6 {
	height: 200px;
	width: 200px;
	border-bottom : 5px solid white;
	background-color: transparent;
}*/

#box7 {
	height: 200px;
	width: 200px;
	clear: both;
	margin-left: 500px;
	border-right : 5px solid white;
	background-color: transparent;
	
}

/*#box8 {
	height: 200px;
	width: 200px;
	background-color: transparent;
	border-right : 5px solid white;
}*/