body {
	background-color: #22411F;
	background-color: silver;
}

h1 {
	background-color: white;
	margin: 10px;
	font-family: "Verdana", "Sans-serif";
}

div {
float: left;

}

#gameboard {
	background-color: transparent;
	margin: 20px;
}

.gamesquare {
height: 200px;
width: 200px;
background-color: transparent;
font-size: 100px;
font-family: Arial, Helvetica, sans-serif;
}

.gamesquare:hover {
	cursor: pointer;
	background-color: lightblue;
}

#box1 {
	float: left;
	border-bottom: 5px solid white;
	border-right : 5px solid white;
}

#box2 {
	float: left;
	border-bottom: 5px solid white;
	border-right : 5px solid white;

}

#box3 {
	float: left;
	border-bottom: 5px solid white;
}

#box4 {
	clear: left;
	border-right : 5px solid white;
	border-bottom : 5px solid white;
}

#box5 {
	border-bottom : 5px solid white;
	border-right : 5px solid white;
}

#box6 {
border-bottom : 5px solid white;
}

#box7 {
clear: left;
border-right : 5px solid white;
}

#box8 {
border-right : 5px solid white;
}


#box9 {
background-color: transparent;
}

