body {
	background-color: #22411F;
	background-color: silver;
}

h1 {
	background-color: white;
	margin: 10px;
	font-family: Verdana, Sans-serif;
}

div {
float: left;

}

p {
clear: both;
text-align: center;
font-family: Verdana, Sans-serif;
font-size: 25px;
font-weight: bold;


}
.gamesquare {
height: 150px;
padding-top: 30px;

width: 200px;
background-color: transparent;
font-size: 100px;
font-family: Arial, Helvetica, sans-serif;
text-align: center;
}

#gameboard {
	background-color: transparent;
	margin: 20px;

}



#box0 {
	float: left;
	border-bottom: 5px solid white;
	border-right : 5px solid white;
}

#box0:hover {
	cursor: pointer;
	background-color: lightblue;
}

#box1 {
	float: left;
	border-bottom: 5px solid white;
	border-right : 5px solid white;

}

#box1:hover {
	cursor: pointer;
	background-color: orange;
}

#box2 {
	float: left;
	border-bottom: 5px solid white;
}

#box2:hover {
	cursor: pointer;
	background-color: pink;
}

#box3 {
	clear: left;
	border-right : 5px solid white;
	border-bottom : 5px solid white;
}

#box3:hover {
	cursor: pointer;
	background-color: magenta;
}

#box4 {
	border-bottom : 5px solid white;
	border-right : 5px solid white;
}

#box4:hover {
	cursor: pointer;
	background-color: lightgreen;
}

#box5 {
border-bottom : 5px solid white;
}

#box5:hover {
	cursor: pointer;
	background-color: yellow;
}

#box6 {
clear: left;
border-right : 5px solid white;
}

#box6:hover {
	cursor: pointer;
	background-color: purple;
}

#box7 {
border-right : 5px solid white;
}

#box7:hover {
	cursor: pointer;
	background-color: #94CED6;
}

#box8 {
background-color: transparent;
}

#box8:hover {
	cursor: pointer;
	background-color: #A9769E;
}
