body {
	background-color: #22411F;
	background-color: silver;
}

h1 {
	/*background-color: white;*/
	margin: 10px;
	font-family: "Verdana", "Sans-serif";
}

div {
float: left;

}

#gameboard {
	background-color: transparent;
	margin: 20px;
}

.gamesquare {
height: 200px;
width: 200px;
background-color: transparent;
}


#box1 {
	float: left;
	border-bottom: 5px solid white;
	border-right : 5px solid white;
	/*background-color: lightblue;*/
}

#box2 {
	float: left;
	border-bottom: 5px solid white;
	border-right : 5px solid white;
	/*background-color: blue;*/
}

#box3 {
	float: left;
	border-bottom: 5px solid white;
	/*background-color: brown*/
}

#box4 {
	clear: left;
	border-right : 5px solid white;
	border-bottom : 5px solid white;
	/*background-color: purple;*/
}

#box5 {
	border-bottom : 5px solid white;
	border-right : 5px solid white;
	/*background-color: orange;*/
}

#box6 {
border-bottom : 5px solid white;
/*background-color: red;*/
}

#box7 {
clear: left;
border-right : 5px solid white;
/*background-color: yellow;*/
}

#box8 {
border-right : 5px solid white;
/*background-color: pink;*/
}


#box9 {
background-color: transparent;
/*background-color: cyan;*/
}